.header{
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 120px;
}
.header .nav-link a{
    text-decoration: none;
    margin-left: 35px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}
.header .nav-link a:hover{
    color: rgb(163, 163, 71);
    transition: all 0.3s;
}